.Contact {
    background-color: var(--main-color);
    padding: 32px 0 0;
}
.Contact .head-container {
    margin: 0;
    text-align: start;
    max-width: 100%;
    margin-bottom: 32px;
}
.Contact .head-container h2 {
    color: #fff;
    margin: 0;
}
.Contact .head-container h2::before {
    background-color: #fff;
}
.Contact .head-container .main-heading{
    color: #fff;
}
.Contact .head-container .head-para{
    color: #fff;
}





.Contact .col-lg-6.first {
    padding-bottom: 32px;
    padding-right: var(--bs-gutter-x);
    padding-right: 16px !important;
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.Contact .col-lg-6.second {
    padding-bottom: 32px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: var(--bs-gutter-x);
    padding-left: 16px !important;
}

.Contact .branch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Contact .branch .left{
    display: flex;
    flex-direction: column;
}
.Contact .branch .left h1,
.Contact .branch span {
    color: #FFF;
    font-family: 'Open Sans' !important;
    font-weight: var(--fw-600);
    line-height: 24px;
}
.Contact .branch .left h1{
    font-size: 2.4rem;
    margin-bottom: 30px;
}
.Contact .branch .left .info {
    display: inline-flex;
    gap: 24px;
    color: #fff;
    margin-bottom: 6px;
    width: max-content;
}
.Contact .branch span {
    font-size: 1.5rem;
}
.Contact .branch .right {
    height: 144px;
    width: 203px;
} 
.Contact .branch .right iframe{
    width: 100%;
}


@media(max-width:991px) {
    .Contact .head-container {
        margin-bottom: 16px;
    }
    .Contact .col-lg-6.first {
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .Contact .col-lg-6.second {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }
    .Contact .branch {
        flex-direction: column;
        gap: 16px;
        align-items: start;
    }
    .Contact .branch .left h1{
        margin-bottom: 16px;
        font-size: 1.8rem;
    }
    .Contact .branch .info img {
        width: 20px;
        height: 20px;
    }
    .Contact .branch span {
        font-size: 1.1rem;
        font-weight: var(--fw-400);

    }
    .Contact .branch .right {
        height: max-content;
        width: 100%;
    }
    .Contact .branch .right iframe{
        height: 234px;
    }
    
}



/* Arabic */

.ar .Contact .head-container .main-heading {
    font-size: 4rem;
    letter-spacing: 0.6px;
}

.ar .Contact .head-para {
    font-size: 1.6rem;
}




.ar .Contact .branch .left h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: var(--fw-700);
}

.ar .Contact .branch span {
    font-weight: var(--fw-500);
}



@media (max-width: 767px) {
.ar .Contact .head-container .main-heading {
    font-size: 2.2rem;
    line-height: normal;
}
.ar .Contact .head-para {
    font-size: 1.4rem;
    line-height: normal;
    margin-bottom: 4rem;
}
}